@font-face {
  font-family: 'BitingMyNails';
  src: url('/font/biting-my-nails.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BitingMyNailsOutline';
  src: url('/font/biting-my-nails.outline-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Broval';
  src: url('/font/broval.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rolliv';
  src: url('/font/rolliv.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RADIOAKTIVITET';
  src: url('/font/RADIOAKTIVITET.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Elisa';
  src: url('/font/elisa.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kleptocracy';
  src: url('/font/kleptocracy-titling.lt-regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kleptocracy';
  src: url('/font/kleptocracy-titling.rg-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kleptocracy';
  src: url('/font/kleptocracy-titling.rg-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Elvalle';
  src: url('/font/elvalle.bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SebastienSlab';
  src: url('/font/sebastien-slab-round.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tycho';
  src: url('/font/tycho.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
