/* src/styles/fonts.css */
@font-face {
  font-family: 'BitingMyNails';
  src: url('/fonts/biting-my-nails.regular.woff2') format('woff2'),
       url('/fonts/biting-my-nails.regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BitingMyNailsOutline';
  src: url('/fonts/biting-my-nails.outline-regular.woff2') format('woff2'),
       url('/fonts/biting-my-nails.outline-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Broval';
  src: url('/fonts/broval.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rolliv';
  src: url('/fonts/rolliv.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RADIOAKTIVITET';
  src: url('/fonts/RADIOAKTIVITET.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Elisa';
  src: url('/fonts/elisa.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kleptocracy';
  src: url('/fonts/kleptocracy-titling.lt-regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kleptocracy';
  src: url('/fonts/kleptocracy-titling.rg-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kleptocracy';
  src: url('/fonts/kleptocracy-titling.rg-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Elvalle';
  src: url('/fonts/elvalle.bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SebastienSlab';
  src: url('/fonts/sebastien-slab-round.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tycho';
  src: url('/fonts/tycho.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
