.text {
  font-weight: 600;
  font-size: 8em;
  will-change: opacity;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
